<!DOCTYPE html>
<html lang="en">
<head>
    <title>Class List: Create</title>
    <meta charset="utf-8" />
</head>
<body>
    <!-- Needed to include "/class" in order to fix the route-->
    <form action="../db/update" method="post">
    <div>
            <label for="ID">Please Enter In The The Blog ID You Would Like To Edit</label>
            <input type="text" id="ID" name="ID">
    </div>
    <div>
            <label for="body">Please Enter New Post</label>
            <input type="body" id="body" name="body">
    </div>
    <div class="button">
        <button type="submit">Submit Changes</button>
    </div>
</form>

</body>
</html>