<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Class List</h1>
<!-- 'input' is an empty element, it consists of single tag -->
<input type="text" id="search-text" placeholder="Filter students">
<div id="students">
</div>
<script>

// 'use strict'
// let students = []
// let student1 = {
//     "nameOriginal": 'Dean Goldin',
//     "name": 'Dean Goldin',
//     "stdNumber": 1235950
// }

// let student2 = {
//     "nameOriginal": 'DG',
//     "name": 'DG',
//     "stdNumber": 1234
// }
// students.push(student1)
// students.push(student2)

// let name = ""

// document.querySelector('#search-text').addEventListener('input', function(e){
//     console.log(typeof(name))
//     name = name.concat(toString(e.data))
//     console.log(typeof(name))
//     console.log(name)
//     for (let i = 0; i < students.length; i++)
//     {
//         if(students[i].name === name)
//         {
//             console.log(students[i].name)
//             document.getElementById("students").innerHTML = students[i].name
//             return
//         }
//     }

// })


</script>
</body>
</html>
